extend layout
block content
  div.jumbotron
    div.container
      h1 This is the stage
  div.container
    div.row
      div.col-md-4
        h2 Round 1
          div.team DC United
          div.team Chivas USA
          div.team Toronto FC
          div.team Columbus Crew
          div.team FC Dallas
          div.team Philadelphia Union
          div.team Vancouver Whitecaps
          div.team Chicago Fire
          div.team Montreal Impact
          div.team San Jose Earthquakes
          div.team Houston Dynamo
          div.team Colorado Rapids
          div.team NE Revolution
          div.team Seattle Sounders FC
          div.team LA Galaxy
          div.team Real Salt Lake
          div.team Portland Timbers
          div.team Sporting KC
          div.team New York Red Bulls
    div.row
      div.col-md-4
        h2 Round 2
          div.team DC United
          div.team Chivas USA
          div.team Toronto FC
          div.team Columbus Crew
          div.team FC Dallas
          div.team Philadelphia Union
          div.team Vancouver Whitecaps
          div.team Chicago Fire
          div.team Montreal Impact
          div.team San Jose Earthquakes
          div.team Houston Dynamo
          div.team Colorado Rapids
          div.team NE Revolution
          div.team Seattle Sounders FC
          div.team LA Galaxy
          div.team Real Salt Lake
          div.team Portland Timbers
          div.team Sporting KC
          div.team New York Red Bulls