extend layout
block content
  div.jumbotron
    div.container
      h1 This is the stage
  div.container
    div.row
      div.col-md-4
        h2 Round 1
        div.team.team-1.dcu
          span.pickNumber 1
          div.club-logo
          span.club DC United
        div.team.team-2.chv
          span.pickNumber 2
          div.club-logo
          span.club Chivas USA
        div.team.team-3.tor
          span.pickNumber 3
          div.club-logo
          span.club Toronto FC
        div.team.team-4.col
          span.pickNumber 4
          div.club-logo
          span.club Columbus Crew
        div.team.team-5.dal
          span.pickNumber 5
          div.club-logo
          span.club FC Dallas
        div.team.team-6.phi
          span.pickNumber 6
          div.club-logo
          span.club Philadelphia Union
        div.team.team-7.van
          span.pickNumber 7
          div.club-logo
          span.club Vancouver Whitecaps
        div.team.team-8.chi
          span.pickNumber 8
          div.club-logo
          span.club Chicago Fire
        div.team.team-9.mon
          span.pickNumber 9
          div.club-logo
          span.club Montreal Impact
        div.team.team-10.san
          span.pickNumber 10
          div.club-logo
          span.club San Jose Earthquakes
        div.team.team-11.hou
          span.pickNumber 11
          div.club-logo
          span.club Houston Dynamo
        div.team.team-12.col
          span.pickNumber 12
          div.club-logo
          span.club Colorado Rapids
        div.team.team-13.ner
          span.pickNumber 13
          div.club-logo
          span.club NE Revolution
        div.team.team-14.sea
          span.pickNumber 14
          div.club-logo
          span.club Seattle Sounders FC
        div.team.team-15.lag
          span.pickNumber 15
          div.club-logo
          span.club LA Galaxy
        div.team.team-16.rea
          span.pickNumber 16
          div.club-logo
          span.club Real Salt Lake
        div.team.team-17.por
          span.pickNumber 17
          div.club-logo
          span.club Portland Timbers
        div.team.team-18.spo
          span.pickNumber 18
          div.club-logo
          span.club Sporting KC
        div.team.team-19.new
          span.pickNumber 19
          div.club-logo
          span.club New York Red Bulls
      div.col-md-4
        h2 Round 2
        div.team.team-1.dcu
          span.pickNumber 1
          div.club-logo
          span.club DC United
        div.team.team-2.chv
          span.pickNumber 2
          div.club-logo
          span.club Chivas USA
        div.team.team-3.tor
          span.pickNumber 3
          div.club-logo
          span.club Toronto FC
        div.team.team-4.col
          span.pickNumber 4
          div.club-logo
          span.club Columbus Crew
        div.team.team-5.dal
          span.pickNumber 5
          div.club-logo
          span.club FC Dallas
        div.team.team-6.phi
          span.pickNumber 6
          div.club-logo
          span.club Philadelphia Union
        div.team.team-7.van
          span.pickNumber 7
          div.club-logo
          span.club Vancouver Whitecaps
        div.team.team-8.chi
          span.pickNumber 8
          div.club-logo
          span.club Chicago Fire
        div.team.team-9.mon
          span.pickNumber 9
          div.club-logo
          span.club Montreal Impact
        div.team.team-10.san
          span.pickNumber 10
          div.club-logo
          span.club San Jose Earthquakes
        div.team.team-11.hou
          span.pickNumber 11
          div.club-logo
          span.club Houston Dynamo
        div.team.team-12.col
          span.pickNumber 12
          div.club-logo
          span.club Colorado Rapids
        div.team.team-13.ner
          span.pickNumber 13
          div.club-logo
          span.club NE Revolution
        div.team.team-14.sea
          span.pickNumber 14
          div.club-logo
          span.club Seattle Sounders FC
        div.team.team-15.lag
          span.pickNumber 15
          div.club-logo
          span.club LA Galaxy
        div.team.team-16.rea
          span.pickNumber 16
          div.club-logo
          span.club Real Salt Lake
        div.team.team-17.por
          span.pickNumber 17
          div.club-logo
          span.club Portland Timbers
        div.team.team-18.spo
          span.pickNumber 18
          div.club-logo
          span.club Sporting KC
        div.team.team-19.new
          span.pickNumber 19
          div.club-logo
          span.club New York Red Bulls
      div.col-md-4
        h2 Picks
        div.picks Pick events would go here
        h2 Commentary
        div.picks One way editor commentary chat would go here
