extend layout
block content
  div.jumbotron
    div.container
      div.stage-container
        ul#sortable1.connectedSortable
        a.btn.btn-info.clock-controller(href="#") Stop or Start Clock
        a.btn.btn-info.defer(href="#", data-toggle="modal", data-target="#pickModal") Defer
        a.btn.btn-info.pick(href="#", data-toggle="modal", data-target="#pickModal") Pick
      div.clock
  div.container
    div.row
      div.col-md-4
        h2 Round 1
        ul#sortable2.connectedSortable
          li.team.team-1.dcu
            span.pickNumber 1
            div.club-logo
            span.club DC United
          li.team.team-2.chv
            span.pickNumber 2
            div.club-logo
            span.club Chivas USA
          li.team.team-3.tor
            span.pickNumber 3
            div.club-logo
            span.club Toronto FC
          li.team.team-4.col
            span.pickNumber 4
            div.club-logo
            span.club Columbus Crew
          li.team.team-5.dal
            span.pickNumber 5
            div.club-logo
            span.club FC Dallas
          li.team.team-6.phi
            span.pickNumber 6
            div.club-logo
            span.club Philadelphia Union
          li.team.team-7.van
            span.pickNumber 7
            div.club-logo
            span.club Vancouver Whitecaps
          li.team.team-8.chi
            span.pickNumber 8
            div.club-logo
            span.club Chicago Fire
          li.team.team-9.mon
            span.pickNumber 9
            div.club-logo
            span.club Montreal Impact
          li.team.team-10.san
            span.pickNumber 10
            div.club-logo
            span.club San Jose Earthquakes
          li.team.team-11.hou
            span.pickNumber 11
            div.club-logo
            span.club Houston Dynamo
          li.team.team-12.col
            span.pickNumber 12
            div.club-logo
            span.club Colorado Rapids
          li.team.team-13.ner
            span.pickNumber 13
            div.club-logo
            span.club NE Revolution
          li.team.team-14.sea
            span.pickNumber 14
            div.club-logo
            span.club Seattle Sounders FC
          li.team.team-15.lag
            span.pickNumber 15
            div.club-logo
            span.club LA Galaxy
          li.team.team-16.rea
            span.pickNumber 16
            div.club-logo
            span.club Real Salt Lake
          li.team.team-17.por
            span.pickNumber 17
            div.club-logo
            span.club Portland Timbers
          li.team.team-18.spo
            span.pickNumber 18
            div.club-logo
            span.club Sporting KC
          li.team.team-19.new
            span.pickNumber 19
            div.club-logo
            span.club New York Red Bulls
      div.col-md-4
        h2 Round 2
        ul#sortable3.connectedSortable
          li.team.team-1.dcu
            span.pickNumber 1
            div.club-logo
            span.club DC United
          li.team.team-2.chv
            span.pickNumber 2
            div.club-logo
            span.club Chivas USA
          li.team.team-3.tor
            span.pickNumber 3
            div.club-logo
            span.club Toronto FC
          li.team.team-4.col
            span.pickNumber 4
            div.club-logo
            span.club Columbus Crew
          li.team.team-5.dal
            span.pickNumber 5
            div.club-logo
            span.club FC Dallas
          li.team.team-6.phi
            span.pickNumber 6
            div.club-logo
            span.club Philadelphia Union
          li.team.team-7.van
            span.pickNumber 7
            div.club-logo
            span.club Vancouver Whitecaps
          li.team.team-8.chi
            span.pickNumber 8
            div.club-logo
            span.club Chicago Fire
          li.team.team-9.mon
            span.pickNumber 9
            div.club-logo
            span.club Montreal Impact
          li.team.team-10.san
            span.pickNumber 10
            div.club-logo
            span.club San Jose Earthquakes
          li.team.team-11.hou
            span.pickNumber 11
            div.club-logo
            span.club Houston Dynamo
          li.team.team-12.col
            span.pickNumber 12
            div.club-logo
            span.club Colorado Rapids
          li.team.team-13.ner
            span.pickNumber 13
            div.club-logo
            span.club NE Revolution
          li.team.team-14.sea
            span.pickNumber 14
            div.club-logo
            span.club Seattle Sounders FC
          li.team.team-15.lag
            span.pickNumber 15
            div.club-logo
            span.club LA Galaxy
          li.team.team-16.rea
            span.pickNumber 16
            div.club-logo
            span.club Real Salt Lake
          li.team.team-17.por
            span.pickNumber 17
            div.club-logo
            span.club Portland Timbers
          li.team.team-18.spo
            span.pickNumber 18
            div.club-logo
            span.club Sporting KC
          li.team.team-19.new
            span.pickNumber 19
            div.club-logo
            span.club New York Red Bulls
      div.col-md-4
        h2 Picks
        div.picks Pick events would go here
        h2 Commentary
        div.commentary One way editor commentary chat would go here
        textarea.commmentary-input(cols="56", rows="5")
