doctype 5
html
  head
    title Draftr!
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content="yes")

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.container
          div.navbar-header
              a.navbar-brand Draftr
    div
        block content

    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/bootstrap.min.js')