doctype 5
html
  head
    title Draftr!
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/flipclock.css')
    link(rel='stylesheet', href='/css/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content="yes")

  body
    div.modal.fade#pickModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Enter pick or defer information.
          div.modal-body
            textarea#pickInput(cols="75", rows="4")
          div.modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button.btn.btn-default(type="button") Save changes
    div.navbar.navbar-inverse.navbar-fixed-top
      div.container
          div.navbar-header
              a.navbar-brand Draftr
    div
        block content

    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery-ui-1.10.3.custom.min.js')
    script(src='/js/sockjs-0.3.min.js')
    script(src='/js/client.js')
    script(src='/js/flipclock/flipclock.min.js')
    script(src='/js/flipclock/faces/hourlycounter.js')
    script(src='/js/flipclock/faces/minutecounter.js')